@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --starship:#fbdb04;
  --mine-sharf:#050504;
  --husk:#a89704;
  --sycamore:#7c6c04;
  --white: #fff;
  --max-width: 1400px;
  --padding: 8px;
  --margin: 10px;
  --border-radius: 8px;
  --transition: 1s;
  --font-size:16px
}

::selection{
  background-color: #fbdb04;
  color: var(--white);
}

body{
  background:var(--mine-sharf);
  color: var(--white);
  font-size: var(--font-size);
  font-family: "Montserrat", sans-serif;
  line-height: 24px;
}

header{
  text-align: center;
  background: var(--mine-sharf);
  color: var(--starship);
  border-bottom: solid 1px var(--husk);
  padding: var(--padding);
  margin-bottom:  var(--margin);
}


section{
  padding: var(--margin);
}
a{
  color: var(--starship);
  text-decoration: none;
}

h1 , h2 {
  padding: var(--padding);
}
p{
  font-size: 1rem;
  margin: 0 0 var(--margin);
  /* color: var(--white); */
}

p::first-letter{
  font-size: 1.4rem;
  color:  var(--husk);
  font-weight: bold;
}

url{
  list-style: none;
}

ul.list > li.item{
  cursor: pointer;
}

li.item:hover{
  color: var(--mine-sharf);
  
}